<div
  class="lesson-container flex justify-between items-center"
  [class.active]="active$ | async"
  [class.disable]="lesson.video == '' && lesson.content == '' ? true : false"
  (click)="navigateToLesson()"
>
  <div class="">
    <h1 class="lesson-heading-text">
      {{ lesson.title }}
    </h1>
    <div class="">
      <ng-icon class="sub-icon" name="bootstrapPersonVideo"></ng-icon>
    </div>
  </div>
  <div class="">
    @if(learned) {
    <ng-icon
      class="checked-icon text-green-500"
      name="heroCheckCircleSolid"
    ></ng-icon>
    }
  </div>
</div>
<div
  class="question-container flex items-center gap-4 flex-wrap"
  [class.active]="active$ | async"
  [class.display]="lesson.video == '' && lesson.content == '' ? true : false"
>
  <ng-container *ngFor="let question of questions; index as i">
    <button
      class="question"
      [disabled]="!(active$ | async)"
      [class.active]="!checkQuestion(question)"
      [class.right]="checkAnswer(question) == true"
      [class.fail]="checkAnswer(question) == false"
      (click)="showQuestionDialog(question, i)"
    >
      {{ i + 1 }}
    </button>
  </ng-container>
</div>
<!-- @else {
<div
  class="lesson-container flex justify-between items-center"
  (click)="navigateToLesson()"
>
  <div class="">
    <h1 class="lesson-heading-text">
      {{ lesson.title }}
    </h1>
    <div class="">
      <ng-icon class="sub-icon" name="bootstrapPersonVideo"></ng-icon>
    </div>
  </div>
  <div class="">
    @if(learned) {
    <ng-icon
      class="checked-icon text-green-500"
      name="heroCheckCircleSolid"
    ></ng-icon>
    }
  </div>
</div>
} -->
