@if(active$ | async; as active) {
<div
  class="lesson-container flex justify-between items-center {{
    active ? 'active' : ''
  }}"
  (click)="navigateToLesson()"
>
  <div class="">
    <h1 class="lesson-heading-text">
      {{ lesson.title }}
    </h1>
    <div class="">
      <ng-icon class="sub-icon" name="bootstrapPersonVideo"></ng-icon>
    </div>
  </div>
  <div class="">
    @if(learned) {
    <ng-icon
      class="checked-icon text-green-500"
      name="heroCheckCircleSolid"
    ></ng-icon>
    }
  </div>
</div>
} @else {
<div
  class="lesson-container flex justify-between items-center"
  (click)="navigateToLesson()"
>
  <div class="">
    <h1 class="lesson-heading-text">
      {{ lesson.title }}
    </h1>
    <div class="">
      <ng-icon class="sub-icon" name="bootstrapPersonVideo"></ng-icon>
    </div>
  </div>
  <div class="">
    @if(learned) {
    <ng-icon
      class="checked-icon text-green-500"
      name="heroCheckCircleSolid"
    ></ng-icon>
    }
  </div>
</div>
}
