.scroll-item {
  border-top: 1px solid #dedede;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.15s ease;

  &.new {
    background: rgba(0, 0, 0, 0.1);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    .more-action {
      display: block;
    }
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
  }
  .content-box {
    font-size: 14px;
    .content {
    }
    .highlight {
      font-weight: 600;
    }
    .hover {
      &:hover {
        opacity: 0.5;
      }
    }
    .time {
      font-size: 12px;
      opacity: 0.8;
      font-style: italic;
    }
  }

  .more-action {
    display: none;
    animation: showMoreAction 0.3s ease;
  }
}

@keyframes showMoreAction {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 42px;
  }
}

::ng-deep {
  .scroll-item {
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.15s ease;

    &.new {
      background: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 12px;
    }
    .content-box {
      font-size: 14px;
      .content {
      }
      .highlight {
        font-weight: 600;
      }
      .time {
        font-size: 12px;
        opacity: 0.8;
        font-style: italic;
      }
    }
  }
}
