.notify-container {
  position: relative;
  transition: all 0.15s ease;
  .notify-btn {
    border-radius: 50%;
    padding: 6px 10px;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .notify-icon {
    font-size: 24px;
    margin-bottom: -4px;
  }
  .menu-notify {
    position: absolute;
    width: 400px;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 48px;
    right: 14px;
    .notify-header {
      padding: 16px 20px;
      .notify-headingText {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .notify-scroll {
      overflow-y: scroll;
      max-height: 600px;
      .scroll-item {
        padding: 8px 16px;
        cursor: pointer;
        transition: all 0.15s ease;

        &.new {
          background: rgba(0, 0, 0, 0.1);
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }

        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .content-box {
          font-size: 14px;
          .content {
          }
          .highlight {
            font-weight: 600;
          }
          .time {
            font-size: 12px;
            opacity: 0.8;
            font-style: italic;
          }
        }
      }
    }
  }
}
