<div class="notify-container" #notifyContainer>
  <button
    class="notify-btn max-md:hidden"
    (click)="toggleNotifyMenu()"
    #notifybtn
  >
    <ng-icon class="notify-icon" name="ionNotificationsOutline"></ng-icon>
  </button>
  <button
    class="notify-btn md:hidden"
    (click)="showMobileDialog()"
    #notifybtnmobile
  >
    <ng-icon class="notify-icon" name="ionNotificationsOutline"></ng-icon>
  </button>
  <ng-container [ngTemplateOutlet]="notifyTemp"></ng-container>
</div>
<p-dialog
  class="notify-dialog-mobile"
  [modal]="true"
  [(visible)]="mobileDialog"
>
  <ng-container [ngTemplateOutlet]="notifyTemp"></ng-container>
</p-dialog>

<ng-template #notifyTemp>
  <div class="menu-notify" xPosition="before" #notifyMenu>
    <div class="notify-header flex justify-between items-center">
      <h1 class="notify-headingText">Thông báo</h1>
      <div class="more-action">
        <p-button
          (onClick)="menu.toggle($event)"
          icon="pi pi-ellipsis-v"
          [text]="true"
          size="small"
        />
        <p-menu
          class="moreMenu"
          #menu
          [model]="actionItems"
          popup="true"
        ></p-menu>
      </div>
    </div>
    <div class="notify-scroll flex-col">
      @if(announcements$ | async; as announcements) {
      <ng-container *ngFor="let announcement of announcements">
        <app-announcement-item
          [announcement]="announcement"
        ></app-announcement-item>
      </ng-container>
      }
    </div>
  </div>
</ng-template>
