@if(post$ | async; as post; ) {
<div class="post-container max-sm:px-4 flex flex-col gap-5">
  <div class="flex justify-between items-center">
    @if(user$ | async; as user ) {
    <div class="flex" id="infor">
      <p-avatar
        [image]="
          (user?.avatar?.contentType == 'url' &&
            user?.avatar?.url?.toString()) ||
          (user?.avatar?.buffer &&
            'data:' +
              user?.avatar?.contentType +
              ';base64,' +
              user?.avatar?.buffer) ||
          'assets/images/avatar-user-default.png'
        "
        styleClass="mr-2"
        size="large"
        shape="circle"
      />
      <div class="flex flex-col gap-1">
        <h1 class="author_name hover:text-blue-700 cursor-pointer">
          {{ user.fullname || user.username }}
        </h1>
        <div class="flex gap-4">
          <!-- <span class="text-gray-600 description"
            ><ng-icon class="description-icon" name="ionCafeOutline"></ng-icon>
            Converstation Starter</span
          > -->
          <span class="text-gray-600 description"
            ><ng-icon class="description-icon" name="ionCalendarNumberOutline">
            </ng-icon>
            {{ formatUserTime(post.createdAt) }}
          </span>
        </div>
      </div>
    </div>
    }
    <div class="max-sm:hidden mr-10">
      <p-speedDial
        class="more-action"
        [model]="actions || []"
        direction="down"
        showIcon="pi pi-ellipsis-h"
        hideIcon="pi pi-times"
      ></p-speedDial>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <h1 class="title">{{ post.title }}</h1>
    <span class="text-gray-600 description italic">
      {{ formatTime(post.createdAt) }}
    </span>
  </div>
  <!-- <div class="content"> -->
  <editor
    class="content-body"
    [init]="initEditor"
    [initialValue]="post.content.toString()"
    apiKey="whoh1eym4df4e9avoky9m11qp0at6evnhufgkw21dwabfvnm"
  ></editor>
  <!-- </div> -->
  @if(auth$ | async; as authUser) {
  <div class="content-bottom flex justify-between items-center">
    <!-- <a pButton label="Bình luận" [text]="true" size="small"></a> -->
    <div class="flex justify-center items-center">
      <p-button
        (onClick)="interactWithPost(post)"
        class="like-btn"
        [rounded]="true"
        [text]="true"
        severity="help"
        size="small"
      >
        <ng-icon
          class="icon"
          [name]="
            post.like &&
            authUser?._id &&
            post.like.includes(authUser._id.toString())
              ? 'heroHeartSolid'
              : 'ionHeartOutline'
          "
        ></ng-icon>
      </p-button>
      <span class="like-number">{{ post.like?.length }}</span>
    </div>
    <div>
      <span>{{ hashtag }}</span>
    </div>
  </div>
  }
  <div class="commentEditor">
    @if(!post.manager?.block_comment) {
    <forum-comment-editor
      (submitComment)="submitComment($event, post._id!)"
    ></forum-comment-editor>
    } @else {
    <span class="text-purple-400"
      >Bài viết đã bị khóa bình luận. Bạn không thể bình luận trong bài viết
      này!!!</span
    >
    }
  </div>
  <div class="commentList">
    <forum-comment-list></forum-comment-list>
  </div>
</div>

}
