.post-container {
  .author_name {
    font-weight: 500;
    transition: all 0.15s ease;
  }

  .description {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    .description-icon {
      font-size: 16px;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .content-bottom {
    border-bottom: 1px solid #eee;
    padding: 12px 16px;
    .icon {
      font-size: 20px;
    }
  }
  .like-number {
    color: #a855f7;
    font-weight: 500;
    font-size: 14px;
    min-width: 34px;
    text-align: start;
  }
}

::ng-deep {
  .post-container {
    .more-action {
      .p-speeddial-button {
        color: #3d3c3c;
        background: transparent;
        border: none;
        width: 2rem;
        height: 2rem;
      }
    }
    .like-btn {
      .p-button {
        padding: 8px;
      }
    }
  }
}

::ng-deep {
  .post-container {
    .content * {
      all: revert;
    }
  }
}
