@if(lesson$ | async; as lesson) {
<div class="lesson-container">
  @if(lesson.video) {
  <div class="video-wrapper">
    <div class="video-play-wapper">
      <iframe
        class="video"
        width="100%"
        height="100%"
        [src]="sanitizeUrl(lesson.video.toString())"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        ng-show="showvideo"
        allow="autoplay"
      ></iframe>
    </div>
  </div>
  }
  <div class="content-container">
    <div class="my-8 flex justify-between items-center">
      <h3 class="content-heading">{{ lesson.title }}</h3>
      <span class="time-stamp"
        >Ngày đăng {{ formatDateAndTime(lesson.createdAt!) }}</span
      >
    </div>

    @if(isComment) {
    <div class="comment-container">comment nè</div>
    } @else {
    <div class="content-box mb-8" [innerHTML]="lesson.content"></div>
    }
  </div>
  <div class="comment flex justify-end px-4">
    <p-button severity="info" [rounded]="true" (onClick)="toggleIsComment()">
      <ng-icon name="ionChatboxOutline"></ng-icon>
      <span class="ml-2"> @if(isComment) {Bài học} @else {Thảo luận} </span>
    </p-button>
  </div>
</div>
}
