<p-confirmDialog></p-confirmDialog>
<div class="detail my-4">
  <h3 class="title text-center mb-8">Chi tiết khóa học</h3>
  <div class="add-actions flex justify-end items-center gap-4 mb-2">
    <p-button
      label="Thêm chương"
      [size]="'small'"
      [outlined]="true"
      severity="success"
      (onClick)="showChapterForm()"
    />
    <ng-template [ngIf]="((chapterList | async) || []).length > 0">
      <p-button
        label="Thêm bài học"
        [size]="'small'"
        [outlined]="true"
        severity="info"
        (onClick)="showLessonForm()"
      />
    </ng-template>
  </div>
  <p-orderList
    class="chapter-list"
    styleClass="activity-order-list"
    [value]="(chapterList | async) || []"
    header="Danh sách các chương"
    (onReorder)="getOrder($event)"
    [tabindex]="0"
    [dragdrop]="true"
  >
    <ng-template let-chapter pTemplate="item">
      <app-chapter
        [chapter]="chapter"
        [course_id]="this.course_id"
      ></app-chapter>
    </ng-template>
  </p-orderList>
</div>
