<p-confirmDialog></p-confirmDialog>
<div class="detail my-4">
  <h3 class="title text-center mb-8">Chi tiết khóa học</h3>
  <div class="add-actions flex justify-end items-center gap-4 mb-2">
    <p-button
      label="Thêm chương"
      [size]="'small'"
      [outlined]="true"
      severity="success"
      (onClick)="showChapterForm()"
    />
    <p-button
      label="Thêm bài học"
      [size]="'small'"
      [outlined]="true"
      severity="info"
      (onClick)="showLessonForm()"
    />
  </div>
  <p-orderList
    class="chapter-list"
    [value]="(chapterList | async) || []"
    header="Danh sách các chương"
    (onReorder)="getOrder($event)"
    [dragdrop]="true"
  >
    <ng-template let-chapter pTemplate="item">
      <p-fieldset
        legend="{{ chapter.title }}"
        [toggleable]="true"
        [collapsed]="true"
      >
        <p-orderList
          [value]="chapter.lessons"
          class="lesson-list"
          [dragdrop]="true"
        >
          <ng-template pTemplate="header"
            ><div class="flex justify-end gap-4">
              <p-button
                icon="pi pi-pencil"
                [rounded]="true"
                severity="info"
                [size]="'small'"
                (onClick)="showEditChapter(chapter)"
              />
              <p-button
                (onClick)="confirmDelete(chapter._id)"
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                [size]="'small'"
              /></div
          ></ng-template>
          <ng-template let-lesson pTemplate="item">
            <course-form-lesson [data]="lesson"></course-form-lesson>
          </ng-template>
        </p-orderList>
      </p-fieldset>
    </ng-template>
  </p-orderList>
</div>
