<div class="topic flex gap-10">
  <div class="">
    <span class="posts"> 4 chủ đề </span>
    <img
      class="image-logo"
      src="../../../../../../assets/images/angular-logo.png"
    />
  </div>
  <div class="flex-1 flex justify-center flex-col">
    <a routerLink="/forum/topic/abc">
      <h4 class="title">
        <p>Kiểm tra xem</p>
      </h4>
    </a>
    <span class="description">Trao đổi kinh nghiệm ứng dụng trong angular</span>
  </div>
  <div class="flex justify-center items-center">150</div>
  <div class="flex flex-col justify-center items-center">
    <span class="time-line">2 năm, 2 tháng trước</span>
    <div class="flex justify-center items-center gap-2">
      <span class="time-line">Thanh Nhường</span
      ><p-avatar
        label="U"
        styleClass="mr-2"
        [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
        shape="circle"
      ></p-avatar>
    </div>
  </div>
</div>
