.mycourses-container {
  padding: 32px;
  min-height: 100%;
  .dash-board {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .courses-list {
    .courses-heading {
      font-size: 24px;
      font-weight: 700;
    }
    .courses-list-container {
      padding: 0px 16px;
    }
  }
}

::ng-deep {
  .searchInput {
    padding: 4px 8px;
    height: 38px;
  }
  .p-dataview-content {
    .course-item {
      border-bottom: 1px solid #dbdbdb;
    }
  }
}
