<p-confirmDialog></p-confirmDialog>
<div class="enroll-container w-full flex flex-col">
  <h1 class="title mt-4">Thành Viên</h1>
  <div class="enroll-list w-full flex-1 flex flex-col">
    <div class="tools flex justify-between items-center">
      <div class="flex gap-4">
        <div>
          <p-checkbox
            [binary]="true"
            inputId="checkAll"
            [ngModel]="checkAll"
            (ngModelChange)="toggleCheckAll()"
          />
          <span class="check-quantity">
            {{
              usersCheckedId.length > 0 ? "(" + usersCheckedId.length + ")" : ""
            }}
          </span>
        </div>

        <label class="ml-1 max-md:hidden" for="checkAll">Đánh dấu tất cả</label>
      </div>
      <div class="flex justify-center items-center gap-2">
        <form #searchForm="ngForm">
          <input
            class="searchInput"
            name="username"
            placeholder="Nhập tên người dùng"
            pInputText
            [(ngModel)]="findUserName"
            #searchInput
          />
        </form>
        <p-button
          class="max-sm:hidden"
          [size]="'small'"
          (onClick)="DeleteEnrollFromAuthConfirm($event)"
          label="Xóa học viên"
          [outlined]="true"
          severity="danger"
        />
      </div>
    </div>
    <div
      class="actions-container items-center gap-4 justify-between"
      [class.active]="usersCheckedId.length > 0"
    >
      <p-dropdown
        [options]="[
          { name: 'Gửi thông báo', action: 'NY' },
          { name: 'Rome', action: 'RM' },
          { name: 'London', action: 'LDN' },
          { name: 'Istanbul', action: 'IST' },
          { name: 'Paris', action: 'PRS' }
        ]"
        optionLabel="name"
      ></p-dropdown>
      <p-button
        [size]="'small'"
        label="áp dụng"
        [text]="true"
        severity="info"
      />
    </div>
    <div class="list-title">
      <div class="grid grid-cols-12 items-center gap-4">
        <div></div>
        <h2 class="font-semibold col-span-2">Tên người dùng</h2>
        <h2 class="font-semibold col-span-2">Email</h2>
        <h2 class="font-semibold col-span-2">Số điện thoại</h2>
        <h2 class="font-semibold col-span-2">Quá trình học tập</h2>
        <h2 class="font-semibold col-span-3 text-center">Bài tập</h2>
      </div>
    </div>
    <div class="list-container flex-1">
      @if(userList$ | async; as users) {
      <ng-container *ngFor="let user of users">
        <course-manager-enroll-item
          (addCheck)="addCheckList($event)"
          (removeCheck)="removeCheckList($event)"
          [checkAll]="checkAll"
          [user]="user"
        ></course-manager-enroll-item>
      </ng-container>
      } @else { Danh sách trống }
    </div>
    <div class="paginator">
      <p-paginator
        (onPageChange)="onPageOfChange($event)"
        [first]="paginator.first"
        [rows]="paginator.rows"
        [totalRecords]="paginator.total"
      />
    </div>
  </div>
</div>
