.sidebar {
  z-index: 1001;
  position: relative;
  width: 96px;
  .wrapper {
    position: fixed;
    width: 96px;
    padding: 16px 8px;
    .sidebar-navigate {
      padding: 4px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      & + .sidebar-navigate {
        margin-top: 14px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.active {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }

      .sidebar-icon {
        font-size: 24px;
      }
      .sidebar-text {
        font-size: 14px;
      }
    }
  }
}

::ng-deep {
  .mobile-sidebar {
    .wrapper {
      padding: 16px 8px;
      .sidebar-navigate {
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        & + .sidebar-navigate {
          margin-top: 14px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &.active {
          background-color: rgba(0, 0, 0, 0.1);
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }

        .sidebar-icon {
          font-size: 24px;
          margin-right: 8px;
        }
        .sidebar-text {
          font-size: 14px;
        }
      }
    }
  }
}
