<div class="header">
  <div class="flex justify-between items-center grow">
    <div
      class="md:hidden sidebar-btn flex justify-center items-center px-2"
      (click)="toggleSideBar()"
    >
      <ng-icon name="ionMenuSharp" class="sidebar-icon"></ng-icon>
    </div>
    <div class="max-md:hidden">
      <img
        routerLink="/home"
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Code.svg/800px-Code.svg.png"
      />
    </div>
    <div class="max-sm:hidden">
      <ng-content #search></ng-content>
    </div>
    <div class="flex justify-between items-center">
      <!-- <button class="btn-signin" mat-button>Đăng nhập</button> -->
      <ng-template [ngIf]="$isAuth | async" [ngIfElse]="loginBtn">
        <app-announcement class="announce"></app-announcement>
        <app-avatar-menu></app-avatar-menu>
      </ng-template>

      <ng-template #loginBtn>
        <app-login #login [toSignup]="toSignup.bind(this)"></app-login>
        <app-signup #signup [toLogin]="toLogin.bind(this)"></app-signup>
      </ng-template>
    </div>
  </div>
</div>
