:host {
  display: block;
}

.header {
  z-index: 1000;
  padding: 8px 28px;
  height: 66px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e8ebed;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  .logo {
    width: 40px;
    height: 40px;
  }
  .btn-signin,
  .btn-signup {
    border-radius: 12px;
    border: 1px solid #e8ebed;
    margin-left: 12px;
    color: #f2faff;
  }
  .btn-signin {
    background: #039af9;
  }
  .btn-signup {
    background: #ec713e;
  }

  .announce {
    margin-right: 12px;
  }
}

.sidebar-btn {
  :hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .sidebar-icon {
    font-size: 32px;
  }
}
