<div class="lesson flex justify-between items-center">
  <div class="">
    <h4 class="title">{{ lesson.title }}</h4>
    <div class="more-details flex gap-2 items-center">
      <ng-icon class="detail-icon" name="bootstrapPersonVideo"></ng-icon>
      <span class="time-stamp">{{ lesson.updatedAt || "" | HoursFormat }}</span>
    </div>
  </div>
  <div class="actions">
    <p-button
      icon="pi pi-pencil"
      [rounded]="true"
      [text]="true"
      severity="info"
      (onClick)="showEditDialog()"
    />
    <p-button
      icon="pi pi-trash"
      [rounded]="true"
      [text]="true"
      severity="danger"
      (onClick)="deleteConfirm()"
    />
  </div>
</div>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-col items-center border-r-4 p-5 surface-overlay bg-white border-round cursor-default"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center items-center h-6rem w-6rem"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex items-center gap-2 mt-4">
        <button
          pButton
          severity="danger"
          [outlined]="true"
          size="small"
          label="Xóa"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Hủy"
          [size]="'small'"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
