@if(user$ | async; as user) {
<div class="rating-container flex py-4">
  <div>
    <p-avatar
      styleClass="mr-2"
      size="large"
      [image]="
        (user?.avatar?.contentType == 'url' && user?.avatar?.url?.toString()) ||
        (user?.avatar?.buffer &&
          'data:' +
            user?.avatar?.contentType +
            ';base64,' +
            user?.avatar?.buffer) ||
        'assets/images/avatar-user-default.png'
      "
      shape="circle"
    />
  </div>
  <div>
    <div class="flex items-center justify-start gap-4">
      <h4 class="name">{{ user.fullname || user.username }}</h4>
      <p-rating
        class="rating-star"
        [(ngModel)]="rating.star"
        [readonly]="true"
        [cancel]="false"
      />
    </div>
    <div class="content" [innerHTML]="rating.description"></div>
    <div class="more">
      <span class="time-stamp"> {{ formatTime(rating.createdAt!) }}</span>
    </div>
  </div>
</div>

}
