.rating-container {
  border-bottom: 1px solid #dedede;
  .name {
    font-weight: 600;
  }

  .content {
    max-width: 800px;
    padding: 4px 12px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .time-stamp {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
  }
}

::ng-deep .rating-star {
  line-height: 1;
}
