<div class="rating-container flex py-4">
  <div>
    <p-avatar
      styleClass="mr-2"
      size="large"
      [image]="
        (rating.author_id?.avatar?.contentType == 'url' &&
          rating.author_id?.avatar?.url?.toString()) ||
        (rating.author_id?.avatar?.buffer &&
          'data:' +
            rating.author_id?.avatar?.contentType +
            ';base64,' +
            rating.author_id?.avatar?.buffer) ||
        'assets/images/avatar-user-default.png'
      "
      shape="circle"
    />
  </div>
  <div>
    <div class="flex items-center justify-start gap-4">
      <h4 class="name">
        {{ rating.author_id?.fullname || rating.author_id?.username }}
      </h4>
      <p-rating
        class="rating-star"
        [(ngModel)]="rating.star"
        [readonly]="true"
        [cancel]="false"
      />
    </div>
    <div class="content" [innerHTML]="rating.description"></div>
    <div class="more">
      <span class="time-stamp"> {{ formatTime(rating.createdAt!) }}</span>
    </div>
  </div>
</div>
