<p-fieldset
  legend="{{ chapter.title }}"
  [toggleable]="true"
  [(collapsed)]="collapsed"
>
  <div class="flex justify-end py-4 gap-4">
    <p-button
      icon="pi pi-pencil"
      [rounded]="true"
      severity="info"
      [size]="'small'"
      (onClick)="showEditChapter(chapter)"
    />
    <p-button
      icon="pi pi-trash"
      [rounded]="true"
      severity="danger"
      [size]="'small'"
      (onClick)="confirmDelete(chapter._id)"
    />
  </div>
  <app-lesson-list
    [collapsed]="collapsed"
    [chapter_id]="chapter._id"
    [course_id]="this.course_id"
  ></app-lesson-list>
</p-fieldset>
