<div class="course-item flex max-md:flex-col md:flex-row justify-between gap-4">
  <div class="flex flex-row items-start gap-4">
    <img
      class="course-image"
      [src]="
        'data:' + data.image?.contentType + ';base64,' + data.image?.buffer
      "
      alt="course-image"
    />
    <div class="flex flex-col justify-center items-start">
      <h1 class="course-name">{{ data.course_name }}</h1>
      <div class="rating flex items-center">
        {{ data.averageRating }}
        <ng-icon class="rating-icon text-yellow" name="heroStarSolid"></ng-icon>
      </div>
    </div>
  </div>
  <div class="flex md:justify-center items-end">
    <a [routerLink]="'edit/' + data._id"
      ><p-button [size]="'small'" severity="secondary" [outlined]="true"
        >Chỉnh sửa khóa học</p-button
      ></a
    >
    <a [routerLink]="'manager/' + data._id">
      <p-button class="ml-4" [size]="'small'">Quản lý khóa học</p-button>
    </a>
  </div>
</div>
