.chapter-container {
  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

.raiting {
  font-size: 15px;
  font-weight: 600;
  padding: 8px 0px 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
