.mypost-page {
  min-height: 92vh;
  padding: 32px 64px;
}
.mypost-container {
  .filter-action {
    min-height: 34px;
    .search {
      border-right: 1px solid #dedede;
      .search-input {
        font-size: 16px;
        display: none;
        animation: fadeInInput 0.3s ease;
      }

      .search-btn {
        padding: 0 4px;
      }

      &.forcus {
        border: 1px solid #dedede;
        border-radius: 30px;
        padding: 2px 8px;
        animation: fadeInSearch 0.3s linear;
        .search-btn {
          border-right: 1px solid #dedede;
        }
        .search-input {
          display: block;
          border: none;
          outline: none;
          width: 100%;
        }
      }
    }

    .filter {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .title {
      background: rgba(186, 83, 222, 0.2);
      padding: 8px 0px;
      border-radius: 15px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
@keyframes fadeInInput {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeInSearch {
  0% {
    width: 27px;
  }
  100% {
    width: 260px;
  }
}
