<div class="comment-container flex flex-col">
  @if(isEdit == false) {
  <div class="flex flex-grow-0">
    <div class="flex items-start">
      <p-avatar
        [image]="
          (comment.author_id?.avatar?.contentType == 'url' &&
            comment.author_id?.avatar?.url?.toString()) ||
          (comment.author_id?.avatar?.buffer &&
            'data:' +
              comment.author_id?.avatar?.contentType +
              ';base64,' +
              comment.author_id?.avatar?.buffer) ||
          'assets/images/avatar-user-default.png'
        "
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
        shape="circle"
      />
    </div>
    <div class="body flex-1">
      <div class="head flex items-center gap-4 pb-2">
        <h1 class="name">
          {{ comment.author_id?.fullname || comment.author_id?.username }}
        </h1>
        @if(lesson$ | async; as lesson) {
        <span>-</span>
        <a class="course-name text-gray-dark underline cursor-pointer">{{
          lesson?.title
        }}</a>
        }
      </div>
      <div class="content" [innerHTML]="comment.content"></div>
      <div class="actions">
        <button
          (click)="onInteract()"
          [class]="
            comment.likes?.includes(this.user?._id!)
              ? 'action-btn active'
              : 'action-btn'
          "
        >
          ({{ comment.likes?.length }}) Thích
        </button>
        @if(type == 'comment') {
        <button class="action-btn" (click)="toggleIsReply()">Trả lời</button>
        }
        <span class="time">{{ comment.createdAt! | FromNowTime }}</span>
      </div>
    </div>
    <div class="more flex items-center sm:p-8 max-sm:hidden">
      <!-- <button class="more-btn text-gray-dark">
          <ng-icon name="ionEllipsisHorizontalOutline"></ng-icon>
        </button> -->
      <p-speedDial
        className="more-action  max-sm:hidden"
        [model]="items$ | async"
        type="circle"
        transitionDelay="80"
        showIcon="pi pi-ellipsis-h"
        hideIcon="pi pi-times"
        buttonClassName="p-button-outlined"
      />
    </div>
  </div>
  <div class="rely-container">
    <ng-template [ngIf]="isReply">
      <app-comment-editor (submit)="onSubmitReply($event)"></app-comment-editor>
    </ng-template>
    @if(loadReply) {
    <div class="reply-list">
      @if(reply$ | async; as replyList) {
      <ng-container *ngFor="let reply of replyList">
        <app-comment
          [isAdmin]="isAdmin"
          type="reply"
          (edit)="onEditReply($event)"
          (delete)="onDeleteReply($event)"
          [comment]="reply"
          [user]="user"
        ></app-comment>
      </ng-container>
      }
    </div>
    }
  </div>

  @if(type === 'comment') { @if(comment.replies?.length && loadReply == false) {
  <div class="reply-btn">
    <button class="text-blue-600 underline" (click)="handleLoadReply()">
      Tải thêm {{ comment.replies?.length }} phản hồi
    </button>
  </div>
  } } }@else {
  <h4 class="edit-comment">Chỉnh sửa bình luận</h4>
  <app-comment-editor
    [comment]="comment.content"
    (submit)="onSubmitEditComment($event)"
  ></app-comment-editor>
  }
</div>
