.nav-bar-component {
  height: 100%;
  background: #f6f5fd;
  padding: 8px 4px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .logo-box {
    cursor: pointer;
    padding: 8px 64px;
    .image {
      max-width: 80px;
    }
  }
  .border-box {
    border-bottom: 2px solid #fdfdfd;
    margin: 0 12px;
  }
  .nav-bar-list {
    padding: 8px 4px;

    .nav-bar-item {
      padding: 8px 12px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.25s;
      margin: 0 4px;

      .front-icon {
        .icon {
          @apply text-blue-300;
        }
      }

      & + .nav-bar-item {
        margin-top: 2px;
      }

      &.active {
        margin: 0 0px;

        .front-icon {
          .icon {
            @apply text-blue-500;
          }
        }
        background: #fdfdfd;
        span {
          @apply font-semibold;
        }
      }

      &:hover {
        margin: 0 0px;

        .front-icon {
          .icon {
            @apply text-blue-500;
          }
        }
        background: #fdfdfd;
        span {
          @apply font-semibold;
        }
      }
    }
  }
}
