.course-container {
  min-height: 100vh;
  padding: 32px;

  .heading-text {
    font-size: 32px;
    font-weight: 600;
  }

  .description {
    font-size: 14px;
    opacity: 0.8;
  }

  .content {
    .content-heading {
      font-size: 20px;
      font-size: 700;
    }

    .expandAllBtn {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .content-body {
    margin: 12px 0;
  }

  .time-stamp {
    font-size: 14px;
    opacity: 0.8;
    font-style: italic;
  }

  .image-introduce {
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .rating-text {
    font-size: 14px;
  }

  .author {
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
::ng-deep {
  .p-tree {
    padding: 0;
  }
  .p-treenode-label {
    width: 100%;
  }
  .rating {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 2rem;
      height: 2rem;
    }
  }
}
