@if(course$ | async; as course;) {
<div class="course-container flex md:flex-row max-md:flex-col">
  <div class="md:basis-3/5">
    <h1 class="heading-text my-4">{{ course.course_name }}</h1>
    <div class="description">
      {{ course.description }}
    </div>
    @if(chapters$ | async; as chapters) {
    <div class="content">
      <h1 class="content-heading my-4">Nội dung khóa học</h1>
      <div class="sumary flex items-center justify-between">
        <div class="flex mb-1">
          Tổng quát:
          <span>
            <b>{{ chapters.length }}</b> phần</span
          >
        </div>
        <div class="flex gap-4">
          <button (click)="toggleRating()" class="expandAllBtn">
            Xem đánh giá
          </button>
          <!-- <button (click)="toggleCollapseAll()" class="expandAllBtn">
            Xem tất cả
          </button> -->
        </div>
      </div>
      @if(!isShowRating) {
      <div class="content-body">
        <ng-container *ngFor="let chapter of chapters">
          <home-course-chapter
            [isCollapseAll]="isCollapseAll"
            [chapter]="chapter"
          ></home-course-chapter>
        </ng-container>
      </div>
      } @if(isShowRating) {
      <div class="showRating">
        @if (ratings$ | async; as ratingList) {
        <ng-container *ngFor="let rating of ratingList">
          <course-manager-rating-item
            [rating]="rating"
          ></course-manager-rating-item>
        </ng-container>
        }
      </div>
      }
    </div>
    }
  </div>
  <div class="md:basis-2/5 max-md:mt-5 md:px-24 flex flex-col items-center">
    <img
      class="image-introduce"
      [src]="
        'data:' + course.image!.contentType! + ';base64,' + course.image!.buffer
      "
    />
    <div class="flex justify-center flex-col items-center m-4">
      <span class="text-gray rating-text">Đánh giá</span>
      <p-rating
        class="rating"
        [(ngModel)]="course.averageRating"
        [readonly]="true"
        [cancel]="false"
      />
    </div>
    <div class="flex justify-center mt-10">
      @if(user$ | async; as user) { @if( course?.enroll?.includes(user._id) ||
      course?.author_id == user._id) {
      <p-button
        [routerLink]="'/learning/' + course._id"
        label="Bắt đầu học"
        [text]="true"
        [raised]="true"
        severity="info"
      />
      } @else if(course?.waiting_enroll?.includes(user._id)) {
      <p-button
        disabled="true"
        label="Chờ Admin duyệt yêu cầu"
        [text]="true"
        [raised]="true"
        severity="help"
      />
      } @else {
      <p-button
        (onClick)="enroll(course._id!)"
        label="Đăng ký khóa học"
        [text]="true"
        [raised]="true"
        severity="info"
      />
      } }
    </div>
  </div>
</div>
}
