.user-manager {
  .header {
  }
  .body {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 20px;
    padding: 0px 16px;
    .content {
      padding: 32px 0px;
      .filter-box {
        .filter-action {
          .search {
            border-right: 1px solid #dedede;
            .search-input {
              font-size: 16px;
              display: none;
              animation: fadeInInput 0.3s ease;
            }

            .search-btn {
              padding: 0 4px;
            }

            &.forcus {
              border: 1px solid #dedede;
              border-radius: 30px;
              padding: 2px 8px;
              animation: fadeInSearch 0.3s linear;
              .search-btn {
                border-right: 1px solid #dedede;
              }
              .search-input {
                display: block;
                border: none;
                outline: none;
                width: 100%;
              }
            }
          }

          .filter {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .content-box {
        border: 1px solid #dedede;
        .title {
          padding: 8px 16px;
          border-bottom: 1px solid #dedede;
        }
      }
      .action {
        min-width: 56px;
        height: 1px;
      }
      .actions {
        padding: 4px 8px;
        background: #f6f5fd;
        border: 1px solid #dedede;
        animation: actionFadeIn 0.15s linear;

        &.hidden {
          display: none;
        }

        .action-dropdown {
          &.hidden {
            display: none;
          }
        }

        .day-ban {
          max-width: 80px;
        }
      }
    }
    .footer {
    }
  }
}

@keyframes fadeInInput {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeInSearch {
  0% {
    width: 27px;
  }
  100% {
    width: 260px;
  }
}

@keyframes actionFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

::ng-deep {
  .user-manager {
    .body {
      .content {
        .actions {
          .action-dropdown {
            .p-dropdown-label {
              max-width: 150px;
            }
          }
          .state-dropdown {
            .p-dropdown-label {
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}
