<div class="comment-list">
  <h1 class="text-3xl text-gray-600 py-4">Quản lý thảo luận</h1>
  <div class="filter flex flex-col items-end">
    <span class="text-sm text-gray-400 italic">Chế độ hiển thị:</span>
    <form #filterForm="ngForm">
      <p-dropdown
        [editable]="true"
        [options]="(lessons$ | async) || []"
        optionLabel="title"
        optionValue="_id"
        [formControl]="filterValue"
      ></p-dropdown>
    </form>
  </div>
  @if(discusses$ | async; as discusses) {
  <ng-container
    *ngFor="
      let item of discusses.slice(
        paginator.pageIndex,
        paginator.pageIndex + paginator.pageSize
      )
    "
  >
    <app-comment
      (deleteReply)="onDeleteReplyByAdmin($event)"
      (delete)="onDeleteDiscussByAdmin($event)"
      [isAdmin]="true"
      [comment]="item"
      [user]="user$ | async"
    ></app-comment>
  </ng-container>
  }

  <!-- <app-comment ></app-comment> -->
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="paginator.pageIndex"
    [rows]="paginator.pageSize"
    [totalRecords]="paginator.totalRecord"
  />
</div>
