.comment-container {
  border-bottom: 1px solid #eee;
  .content * {
    all: revert;
  }
}

::ng-deep {
  .comment-container {
    .more-action {
      .p-speeddial-button {
        border: none;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
