.comment-container {
  .content * {
    all: revert;
  }
  .content {
    word-wrap: break-word;
  }
}

::ng-deep {
  .comment-container {
    .more-action {
      .p-speeddial-button {
        border: none;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.comment-box {
  padding-top: 12px;
  border-top: 1px solid #eee;
}
