.avatar-container {
  .avatar-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}

::ng-deep .menu-avatar {
  .menu-item {
    font-size: 14px;
    padding: 8px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease;

    & + .menu-item {
      border-top: 1px solid #ccc;
    }

    &:hover {
      cursor: pointer;
      background-color: #f2faff;
      opacity: 0.8;
    }
  }
  .menu-icon {
    font-size: 20px;
    margin-right: 8px;
  }
  .user {
    padding: 0 12px;
    .avatar-img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
    }
    .tagname {
      font-size: 12px;
      font-style: italic;
      line-height: 1;
    }
  }
}
