<div class="sidebar-container flex">
  <div class="sidebar lg:basis-1/6 max-md:hidden py-4">
    <div
      class="menu-list sticky px-2 max-lg:flex justify-center flex-col items-center"
    >
      <app-sidebar-item
        class=""
        title="Khóa học đang học"
        naviagtionLink="courses"
      >
        <ng-icon class="sidebar-icon" name="heroCodeBracketSquare"></ng-icon>
      </app-sidebar-item>
      <app-sidebar-item
        class=""
        title="Khóa học của tôi"
        naviagtionLink="mycourses"
      >
        <ng-icon class="sidebar-icon" name="heroAcademicCap"></ng-icon>
      </app-sidebar-item>

      <app-sidebar-item
        class=""
        title="Bài viết của tôi"
        naviagtionLink="mypost"
      >
        <ng-icon class="sidebar-icon" name="ionNewspaperOutline"></ng-icon>
      </app-sidebar-item>
    </div>
  </div>

  <p-sidebar class="mobile-sidebar" [(visible)]="sidebarVisible">
    <h3 class="mobile-sidebar-title">Cài đặt</h3>
    <div class="menu-list">
      <app-sidebar-item
        class=""
        title="Trang chủ"
        naviagtionLink="/home"
        [isMobile]="true"
      >
        <ng-icon class="sidebar-icon" name="ionHomeOutline"></ng-icon>
      </app-sidebar-item>
      <app-sidebar-item
        class=""
        title="Khóa học đang học"
        naviagtionLink="courses"
        [isMobile]="true"
      >
        <ng-icon class="sidebar-icon" name="heroCodeBracketSquare"></ng-icon>
      </app-sidebar-item>
      <app-sidebar-item
        class=""
        title="Khóa học của tôi"
        naviagtionLink="mycourses"
        [isMobile]="true"
      >
        <ng-icon class="sidebar-icon" name="heroAcademicCap"></ng-icon>
      </app-sidebar-item>
      <app-sidebar-item
        class=""
        title="Bài viết của tôi"
        [isMobile]="true"
        naviagtionLink="mypost"
      >
        <ng-icon class="sidebar-icon" name="ionNewspaperOutline"></ng-icon>
      </app-sidebar-item>
    </div>
  </p-sidebar>
  <div class="content grow lg:basis-5/6">
    <ng-content #content></ng-content>
  </div>
</div>
