.sidebar-container {
  min-height: calc(100vh - 66px);
  .sidebar {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .menu-list {
      width: 100%;
      top: 10px;
    }
  }
  .sidebar-icon {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .sidebar-container {
    .sidebar-icon {
      font-size: 38px;
    }
  }
}

::ng-deep .mobile-sidebar {
  .mobile-sidebar-title {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
