<div class="container home-container">
  <div>
    <h1>JavaScript</h1>
    <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-4">
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
      <div class="col-item">
        <p-card>
          <ng-template pTemplate="header">
            <img
              class="card-img"
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            />
          </ng-template>
          <h4 class="card-name">100 ngày học Angular</h4>
        </p-card>
      </div>
    </div>
  </div>
</div>
