<div class="forum-container mt-10">
  <form [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="mt-4">
      <label for="title">Tiêu đề:</label>
      <input
        id="title"
        class="w-full"
        type="text"
        pInputText
        formControlName="title"
      />
    </div>
    <div class="mt-4 flex flex-col">
      <label for="hashtag">Hashtag:</label>
      <p-multiSelect
        id="hashtag"
        optionLabel="name"
        [options]="(hashtags$ | async) || []"
        optionValue="_id"
        formControlName="hashtags"
      ></p-multiSelect>
    </div>
    <div class="mt-4">
      <label>Nội dung:</label>
      <editor
        [init]="editorInit"
        outputFormat="html"
        formControlName="content"
        licenseKey="gpl"
        apiKey="whoh1eym4df4e9avoky9m11qp0at6evnhufgkw21dwabfvnm"
      ></editor>
    </div>
    <div class="mt-4 flex justify-end items-center">
      <p-button type="submit" size="small" label="Lưu"></p-button>
    </div>
  </form>
</div>
