<div class="col-item">
  <p-card class="card">
    <ng-template pTemplate="header">
      <img
        class="card-img"
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      />
      <div class="enroll flex justify-center items-center">
        <p-button class="button" label="Xem chi tiết" severity="info" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="footer-card">
        <h4 class="card-name">100 ngày với Angular</h4>
        <div class="detail-number flex justify-start">
          <span class="flex justify-center items-center"
            ><ng-icon class="detail-icon" name="heroAcademicCap"></ng-icon>
            200</span
          >
          <span class="flex justify-center items-center"
            ><ng-icon class="detail-icon" name="bootstrapHeart"></ng-icon>
            30</span
          >
          <span class="flex justify-center items-center"
            ><ng-icon class="detail-icon" name="bootstrapHeartbreak"></ng-icon>
            2320</span
          >
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
