<div
  class="post-container grid max-sm:grid-cols-4 max-md:grid-cols-6 grid-cols-7 gap-4"
>
  <div class="flex justify-center flex-col col-span-4">
    <a class="" href="#">
      <h1 class="title">Làm việc khởi đầu với Angular</h1>
    </a>
    <div class="flex items-center gap-2">
      <ng-icon name="ionTimeOutline"></ng-icon
      ><span class="time-stamp">December 01, 2020 at 8:16 pm</span>
    </div>
  </div>
  <div class="flex justify-end items-center max-sm:hidden">
    <p-avatar label="P" styleClass="mr-2" size="large" shape="circle" />
  </div>
  <div class="flex justify-end items-center max-md:hidden">Tương tác</div>
  <div class="flex justify-end items-center max-sm:hidden">Sắp xếp</div>
</div>
