@if($user | async; as user) {
<div class="secure-container">
  <p-toast />

  <h1 class="secure-heading-text">Bảo mật</h1>
  <div class="secure-box">
    <div class="secure-item">
      <h4 class="title">
        Email @if(user?.email?.verify) {
        <ng-icon class="text-green-500" name="ionCheckmarkCircle"></ng-icon>
        }
      </h4>
      <div class="flex justify-between items-center">
        <span class="content">{{ user.email?.data }}</span>
        @if(user?.email?.verify == false) {
        <button class="verify-btn" (click)="showVerifiedDialog()">
          xác thực
        </button>
        } @else {
        <button class="verify-btn" (click)="showUnverifiedDialog()">
          Hủy liên kết
        </button>
        }
      </div>
      <p-dialog
        header="Hủy xác thực email"
        [modal]="true"
        [(visible)]="isUnverifiedEmail"
        [style]="{ width: '25rem' }"
      >
        <span class="block mb-5 text-center"
          >Bấm xác thực để gửi thông tin qua email của bạn.</span
        >
        <!-- <div class="flex justify-center align-items-center gap-3 mb-5">
            <input placeholder="Nhập mã xác thực" type="text" pInputText />
          </div> -->
        <div class="retry flex flex-col items-center mb-5">
          <span class="p-text-secondary"
            >Bạn không nhận được thông tin xác thực?
          </span>
          @if(waitTimeVerify > 0) {
          <span>gửi lại sau {{ waitTimeVerify }}s</span>
          }
        </div>

        <div class="flex justify-center gap-2">
          <p-button
            size="small"
            label="Hủy"
            severity="secondary"
            (click)="isUnverifiedEmail = false"
          />
          <p-button
            size="small"
            label="Xác thực"
            [disabled]="!!waitTimeVerify"
            (click)="submitUnverifiedEmail()"
          />
        </div>
      </p-dialog>
      <p-dialog
        header="Xác thực Email"
        [modal]="true"
        [(visible)]="isVerifiedEmail"
        [style]="{ width: '25rem' }"
      >
        <span class="block mb-5 text-center"
          >Bấm xác thực để gửi thông tin qua email của bạn.</span
        >
        <!-- <div class="flex justify-center align-items-center gap-3 mb-5">
            <input placeholder="Nhập mã xác thực" type="text" pInputText />
          </div> -->
        <div class="retry flex flex-col items-center mb-5">
          <span class="p-text-secondary"
            >Bạn không nhận được thông tin xác thực?
          </span>
          @if(waitTimeVerify > 0) {
          <span>gửi lại sau {{ waitTimeVerify }}s</span>
          }
        </div>

        <div class="flex justify-center gap-2">
          <p-button
            size="small"
            label="Hủy"
            severity="secondary"
            (click)="isVerifiedEmail = false"
          />
          <p-button
            size="small"
            label="Xác thực"
            [disabled]="!!waitTimeVerify"
            (click)="submitVerifiedEmail()"
          />
        </div>
      </p-dialog>
    </div>
    <div class="secure-item">
      <h4 class="title">Mật khẩu</h4>
      <div class="flex justify-between items-center">
        <span class="content">***************</span>
        <button class="verify-btn" (click)="showChangePassword()">
          đổi mật khẩu
        </button>
      </div>
      <p-dialog
        class="changePassword"
        header="Đổi mật khẩu"
        [modal]="true"
        [(visible)]="isChangePassword"
        [style]="{ width: '50rem' }"
      >
        <form
          [formGroup]="formChangePassword"
          (ngSubmit)="submitChangePassword()"
        >
          <div
            class="flex flex-col justify-center align-items-center gap-5 mb-5"
          >
            <div>
              <p-password
                promptLabel="Độ an toàn"
                placeholder="Mật khẩu cũ"
                formControlName="oldPassword"
                [toggleMask]="true"
                weakLabel="Quá yếu"
                mediumLabel="Mạnh"
                strongLabel="Rất mạnh"
                aria-describedby="old-password"
              >
              </p-password>
              <small class="help-input" id="old-password">
                @if(formChangePassword.get('oldPassword')?.touched) {
                @if(formChangePassword.get('oldPassword')?.getError('required'))
                {
                <span class="text-red-500">Nhập mật khẩu cũ</span>
                }
                @if(formChangePassword.get('oldPassword')?.getError('minLength'))
                {
                <span class="text-red-500">Mật khẩu tối thiểu 6 ký tự</span>
                }
                @if(formChangePassword.get('oldPassword')?.getError('notValid'))
                {
                <span class="text-red-500">Mật khẩu cũ không đúng</span>
                } }
              </small>
            </div>
            <div>
              <p-password
                promptLabel="Độ an toàn"
                placeholder="Mật khẩu mới"
                formControlName="newPassword"
                [toggleMask]="true"
                weakLabel="Quá yếu"
                mediumLabel="Mạnh"
                strongLabel="Rất mạnh"
                aria-describedby="new-password"
              >
              </p-password>
              <small class="help-input" id="new-password">
                @if(formChangePassword.get('newPassword')?.touched) {
                @if(formChangePassword.get('newPassword')?.getError('required'))
                {
                <span class="text-red-500">Nhập mật khẩu mới</span>
                }
                @if(formChangePassword.get('newPassword')?.getError('minLength'))
                {
                <span class="text-red-500">Mật khẩu tối thiểu 6 ký tự</span>
                } }
              </small>
            </div>
            <div>
              <p-password
                promptLabel="Độ an toàn"
                placeholder="Mật khẩu xác nhận"
                formControlName="reNewPassword"
                [toggleMask]="true"
                weakLabel="Quá yếu"
                mediumLabel="Mạnh"
                strongLabel="Rất mạnh"
                aria-describedby="re-new-password"
              >
              </p-password>
              <small class="help-input" id="re-new-password">
                @if(formChangePassword.get('reNewPassword')?.touched) {
                @if(formChangePassword.get('reNewPassword')?.getError('required'))
                {
                <span class="text-red-500">Nhập mật khẩu xác thực</span>
                }
                @if(formChangePassword.get('reNewPassword')?.getError('minLength'))
                {
                <span class="text-red-500">Mật khẩu tối thiểu 6 ký tự</span>
                }
                @if(formChangePassword.get('reNewPassword')?.getError('comparePassword'))
                {
                <span class="text-red-500">Mật khẩu xác nhận không đúng</span>
                } }
              </small>
            </div>
          </div>
          <div class="flex justify-center gap-2">
            <p-button
              size="small"
              label="Hủy"
              severity="secondary"
              (click)="isChangePassword = false"
            />
            <p-button size="small" label="Lưu" type="submit" />
          </div>
        </form>
      </p-dialog>
    </div>
  </div>
</div>
}

<ng-template #invalid>
  <ng-icon class="invalid-icon" name="ionCloseOutline"></ng-icon>
</ng-template>
<ng-template #valid>
  <ng-icon class="valid-icon" name="ionCheckmark"></ng-icon>
</ng-template>
