.course-manager-container {
  .course-img {
    max-width: 120px;
    max-height: 90px;
    border-radius: 4px;
    margin-right: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .course-name {
    font-size: 18px;
    font-weight: 600;
  }

  .tab-view {
  }

  .rating {
    border-radius: 30px;
    padding: 2px 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    .rating-icon {
      margin-left: 2px;
      font-size: 1.2rem;
    }
  }
}

::ng-deep {
  .searchInput {
    padding: 8px 12px;
  }
}
