.required-information {
  height: 100vh;

  .information-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 32px;
    min-width: 350px;
    max-width: 540px;

    .heading-text {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
