.sidebar-item {
  padding: 6px 8px;
  border-radius: 8px;
  transition: all 0.2s ease;
  margin-bottom: 12px;
  cursor: pointer;
  opacity: 0.6;

  &.active {
    color: colors(black);
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &:hover {
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }
}
