:host {
  display: block;
}

.title {
  font-size: 24px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dedede;
  width: 100%;
  padding-left: 24px;
}
.list-title {
  padding: 12px 0px;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.list-container {
  min-height: 590px;
}
