<div class="col-item">
  @if(learning$ | async; as learningObject) {
  <ng-container *ngIf="type == 'learning'" #learning>
    <p-card class="card">
      <ng-template pTemplate="header">
        <img
          class="card-img"
          alt="Card"
          [src]="
            'data:' +
            course.image!.contentType! +
            ';base64,' +
            course.image!.buffer
          "
        />
        <div class="enroll flex justify-center items-center">
          <a [routerLink]="'/learning/' + course._id">
            <p-button class="button" label="Tiếp tục học" severity="info" />
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="content-card">
          <h4 class="card-name">{{ course.course_name }}</h4>
          <div class="detail-number">
            <p-progressBar
              class="learning-progress"
              [value]="calculatorLearning(learningObject)"
              [style]="{ height: '6px' }"
            >
              <ng-template pTemplate="content" let-value>
                <span></span>
              </ng-template>
            </p-progressBar>
          </div>
        </div>
      </ng-template>
    </p-card>
  </ng-container>
  }

  <ng-container *ngIf="type == 'introduce'" #introduce>
    <p-card class="card">
      <ng-template pTemplate="header">
        <img
          class="card-img"
          alt="Card"
          [src]="
            'data:' +
            course.image!.contentType! +
            ';base64,' +
            course.image!.buffer
          "
        />

        <div class="enroll flex justify-center items-center">
          <a [routerLink]="'course/' + course._id">
            <p-button class="button" label="Xem chi tiết" severity="info" />
          </a>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="content-card">
          <h4 class="card-name">{{ course.course_name }}</h4>
          <div class="detail-number flex justify-start flex-wrap">
            <span class="flex justify-center items-center"
              ><ng-icon class="detail-icon" name="heroAcademicCap"></ng-icon>
              {{ course.enroll?.length }}</span
            >
            <!-- <span class="flex justify-center items-center"
              ><ng-icon class="detail-icon" name="bootstrapHeart"></ng-icon>
              30</span
            >
            <span class="flex justify-center items-center"
              ><ng-icon
                class="detail-icon"
                name="bootstrapHeartbreak"
              ></ng-icon>
              2320</span
            > -->
          </div>
        </div>
      </ng-template>
    </p-card>
  </ng-container>
</div>
