:host {
  display: block;
}

.lesson-container {
  margin-bottom: 12px;
  padding: 14px 30px 14px 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content-label {
  font-size: 14px;
}
.chapter-label {
  font-size: 16px;
  font-weight: 600;
}
.content-icons {
  font-size: 18px;
  margin-right: 8px;
}
